<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Snippets Dashboard</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Code</th>
          <th>Language</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <% snippets.forEach(snippet => { %>
        <tr>
          <td><%= snippet.title %></td>
          <td><pre><%= snippet.code %></pre></td>
          <td><%= snippet.language %></td>
          <td><%= snippet.tags.join(', ') %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <script src="/js/main.js"></script>
  </body>
</html>
